#todo-container{
    min-height: 100vh;
}

#team-nav-btn-container-wrapper{
    display: flex;
    align-items: center;
}

#team-nav-btn-container{
    display: flex;
    align-self: center;
}

#name-list::before{
    content: "";
    position: absolute;
    left: -5px;
    height: 100%;
    width: 3px;
    background: #41648a;
}

#cr-label{
    margin-top: 5px;
}

#team-name-btn{
    background-color: #034577;
}
#team-name-btn:hover{
    background-color: #001b2f;
}

/* #team-name-btn:hover > .icon {
    color: #001b2f;
    border: 1px solid #001b2f;
    background-color: #fff;
    transition: 0.75s;

}
#team-name-btn > .icon {
    border: 1px solid #034577;

} */