.jira-ticket{
    font-size: 10px;
    font-weight: bold;
}

.ticket-qa{
    font-size: 10px;
    font-weight: bold;
}

.project-prefix{
    font-size: 10px;
    font-weight: bold;
}

.bug-tracker-info{
    font-size: 0.8rem;
    font-weight: 700;
}